.listOfPeriods{
    display: flex;
    flex-direction: row;
}

.blocked-dates-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 0 10px;

    div{
        flex: 1;
    }
}

.blocked-dates-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 0 0 10px;

    div{
        flex: 1;
    }
}