#nav-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 25px;

    div:first-child{
        margin-right: 10px;
    }
}

.confirm-delete-buttons{    
    Button:first-child{
        margin-right: 5px;
    }
}

.delete-button{
    background: #F44336 !important;
    color: #FFF !important;

    &:disabled {
        background: rgb(158, 156, 157) !important;
    }
}