.appointment-type-item {
    display: flex;
    flex-direction: row;
}

.appointment-type-controls {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}