.error-text {
    color: red;
}

.list-of-teachers {
    display: flex;
    flex-direction: row;
    
    div{
        flex: 1;
    }
}

.list-subheadings {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 0 0 10px;

    li{
        flex: 1;
    }
}