.preview-inputs {
    display: flex;
    flex-direction: row;
}

.preview-day{
    background: #D2D2D2;
    border: 1px solid #95989A;

    margin-left: 8px;

    width: 200px;

    p{
        padding: 0px;
        margin: 10px;
    }
}