nav{
    background-color: $navigation-bg-color;
    height: 100vh;

    top: 0;
    position: sticky;
    position: -webkit-sticky;

    ul{
        list-style: none;        

        li{
            padding-bottom: 10px;
            padding-right: 15px;
            text-align: right;

            a{
                color: $navigation-text-color;
                text-decoration: none;                
            }            
        }

        li:hover{
            transform: scale(1.05);
        }
    }
}

.selected {
    color: $navigation-highlight-color;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    color: $navigation-text-color;
    padding: 20px 15px 10px 0;
}

.school-name {
    color: $navigation-text-color;
    margin: 0;
    padding: 0 15px 10px 0;
    text-align: right;
}