.file-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.errors-container {
    margin: 10px 0 0 10px;
    border: 1px solid red;
}

.error-message:nth-child(2) {
    background: hotpink;
}